

.item {
    background-color: #15101C;
    color: #9E78CF;
    width: 100%;
    padding: 35px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Rubik", sans-serif;
    text-transform: capitalize;
    border-radius: 10px;
}

.item p {
    font-size: 1.3rem;
}



.btn {
    background-color: transparent;
    color: #9E78CF;
    font-size: 1.5rem;
    margin: 0px 10px;
    cursor: pointer;
}