
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 35%;
    margin-bottom: 35px;
}

.container h2 {
    color: #fff;
    font-family: var(--font-face);
    padding-bottom: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}